.rick__roll-gif {
  display: none;
  position: absolute;
  top: 200px;
  width: 60vw;
  left: 20vw;
}
.showing__gif {
  display: block;
}
@media (min-width: 1024px) {
  body {
    background-color: black;
  }
  .errors__list {
    overflow: hidden;
    box-sizing: border-box;
    width: 300px;
    margin: auto;
    background-color: #ffe7e7;
    list-style: none;
    font-family: 'Changa';
    display: flexbox;
    flex-direction: column;
    align-items: center;
    border-radius: 2.5%;
  }
  .errors__list li {
    color: #ef4243;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label {
    margin-top: 20px;
    margin-left: 5vw;

    font-family: 'Changa';
  }

  .form__input {
    background-color: black;
    border: transparent;
    border-bottom: 1px solid #eee;
    margin-left: 8vw;
    margin-bottom: 5px;
    width: 84%;
    max-width: 300px;
    height: 30px;
    color: white;
    font-family: 'Changa';
  }
  .form__input::placeholder {
    color: gray;
    font-family: 'Changa';
  }
  .password {
    color: white;
  }

  .select__input {
    margin-left: 8vw;
    margin-bottom: 5px;
    width: 300px;
    background-color: black;
    color: white;
    font-family: 'Changa';
  }
  input[type='checkbox'] {
    margin-left: 4vw;
    margin-right: 12px;
  }
  .form__selection {
    display: flex;
    flex-direction: column;
  }
  /*---------------------RANGE INPUT-------------------------------*/
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .form__salary-label {
    color: white;
    margin-top: 20px;
    overflow: hidden;
  }
  .form__salary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 0px;
  }
  .form__range {
    margin-top: 20px;
    width: 200px;
    position: relative;
  }

  .form__range::before,
  .form__range::after {
    position: absolute;
    display: inline-block;
  }
  .form__range::before {
    content: attr(min);
    left: 0;
    color: #94cc79;
    transform: translateX(calc(-100% - 5px));
  }
  .form__range::after {
    content: attr(max);
    right: 0;
    color: #94cc79;
    transform: translateX(calc(100% + 5px));
  }
  .form__output {
    margin-left: 160px;
    color: #94cc79;
  }
  .form__submit {
    margin-left: 140px;
    width: 250px;
    color: #94cc79;
    background-color: black;
    font-family: 'Changa';
    border: 2px solid gray;
  }
  .form__submit:hover {
    background-color: white;
    color: black;
  }
  form {
    width: 400px;
    padding-right: 80px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    margin: auto;
  }
}
