.laser__cat-gif {
  display: none;
  position: absolute;
  top: 200px;
  width: 60vw;
  left: 20vw;
}
.showing__gif {
  display: block;
}
body {
  background-color: white;
}

form {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  background-color: white;
}
label {
  color: #9749e3;
  font-family: 'Changa';
}

.form__input {
  outline: none;
  background-color: white;
  border: transparent;
  border-bottom: 1px solid #bc90e8;
  width: 100%;
  max-width: 300px;
  height: 30px;
  color: black;
  font-family: 'Changa';
}

.form__input::placeholder {
  color: gray;
  font-family: 'Changa';
}
.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
  margin-bottom: 15px;
}
.error__message {
  background-color: #ffe7e7;
  width: 200px;
  margin: 0px;
}
.password {
  color: black;
}

.select__input {
  margin-left: 8vw;
  margin-bottom: 35px;
  width: 84%;
  max-width: 250px;
  background-color: white;
  color: black;
  font-family: 'Changa';
}
input[type='checkbox'] {
  accent-color: #9749e3;
  margin-left: 4vw;
  margin-right: 12px;
}
.form__selection {
  display: flex;
  flex-direction: column;
}
/*---------------------RANGE INPUT-------------------------------*/
*,
*::after,
*::before {
  box-sizing: border-box;
}
.form__salary-label {
  width: 200px;
  margin-left: 100px;
  margin-top: 20px;
  overflow: hidden;
}
.form__salary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-bottom: 50px;
}
.form__range {
  margin-top: 20px;
  width: 200px;
  position: relative;
}

.form__range::before,
.form__range::after {
  position: absolute;
  display: inline-block;
}
.form__range::before {
  content: attr(min);
  left: 0;
  color: #9749e3;
  transform: translateX(calc(-100% - 5px));
}
.form__range::after {
  content: attr(max);
  right: 0;
  color: #9749e3;
  transform: translateX(calc(100% + 5px));
}
.form__output {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  color: #9749e3;
}
.form__submit {
  margin-left: 8vw;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  color: white;
  background-color: #9749e3;
  font-family: 'Changa';
  border: 2px solid gray;
}

/*
#phone {
  outline: 0;
}
#phone:valid {
  border-color: green;
}
#phone:focus:invalid {
  border-color: red;
}*/
