@media (min-width: 768px) {
  label {
    margin-left: 15px;
    color: #9749e3;
    font-family: 'Changa';
  }
  form {
    box-shadow: 1px 1px 14px rgb(221, 216, 216);
    background-color: white;
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    justify-content: space-evenly;
    padding-top: 25px;
  }
  .form__input {
    display: inline;
    background-color: white;
    outline: none;
    border: transparent;
    border-bottom: 1px solid #bc90e8;
    width: 200px;
    height: 30px;
    color: black;
    font-family: 'Changa';
    margin: 0px;
  }
  .form__input::placeholder {
    color: rgb(207, 202, 202);
    font-family: 'Changa';
  }
  /*-----------------------inputs and errors texts---*/
  .input__container {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 200px;
  }
  .error__message {
    width: 200px;
    max-height: 500px;
    font-family: 'Changa';
    margin: 0px;
  }

  .password {
    color: black;
  }
  /*---------------optionals inputs----------------*/

  /*--------------Devices-------------*/

  .form__selection {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  input[type='checkbox'] {
    margin-left: 4vw;
    margin-right: 12px;
  }
  /*--------------Experience-------------*/
  .experience__container {
    height: 200px;
  }
  .select__input {
    margin-bottom: 5px;
    width: 150px;
    height: 30px;
    color: #9749e3;
    font-family: 'Changa';
  }

  /*---------------------RANGE INPUT-------------------------------*/
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  .form__salary-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-right: 190px;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
  }
  .form__salary-label {
    width: 200px;
    margin-top: 20px;
  }
  .form__range {
    margin-top: 20px;
    width: 200px;
    position: relative;
  }

  .form__range::before,
  .form__range::after {
    position: absolute;
    display: inline-block;
  }
  .form__range::before {
    content: attr(min);
    left: 0;
    color: #9749e3;
    transform: translateX(calc(-100% - 5px));
  }
  .form__range::after {
    content: attr(max);
    right: 0;
    color: #9749e3;
    transform: translateX(calc(100% + 5px));
  }
  .form__output {
    margin-left: 100px;
    margin-right: 100px;
    color: #9749e3;
  }
  .form__submit {
    grid-column: 1/5;
    margin-bottom: 30px;
    margin-left: 30vw;
    width: 40vw;
    max-width: 300px;
    height: 40px;
    color: white;
    background-color: #9749e3;
    font-family: 'Changa';
    border: 2px solid gray;
  }
}
@media (min-width: 1024px) {
  .form__submit:hover {
    background-color: #bc90e8;
  }
}
